/*Re-useable CSS Variables*/
:root {
  --primary-color: #fafafa;
  --font-color: #3b3b3b;
  --text-color: #646464;
  --inner-text-color: #fafafa;
  --border-color: #f2f2f2;
  --primary-font: "Poppins", sans-serif;
  --primary-size: 16px;
}

/*Google Fonts Link*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*Custom CSS Code*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 16px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

/*header area css*/
.header-area {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
  line-height: 40px;
  background: var(--primary-color);
}
.header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-basis: 15%;
  margin-right: 10px;
}
.logo a img {
  width: 100%;
}
.navigation {
}
.navigation ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.navigation ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--primary-size);
  font-weight: bold;
  margin: 0 15px;
  color: var(--text-color);
}
.navigation ul li:last-child a {
  text-transform: uppercase;
}
.nav-link-group {
}
.nav-link-group ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.nav-link-group ul li a {
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 15px;
  border: 1px solid var(--font-color);
  padding: 8px 15px;
  border-radius: 10px;
  font-size: var(--primary-size);
  color: var(--text-color);
}
.nav-link-group ul li:first-child a {
  background: var(--font-color);
  color: var(--inner-text-color);
}

/*hero section css*/
.banner-area {
  position: relative;
  top: 80px;
  padding: 35px 0;
  background: var(--primary-color);
}
.banner-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.banner-text {
  flex-basis: 50%;
}
.banner-text #text-p1,
.banner-text #text-p2 {
  text-transform: capitalize;
  font-size: var(--primary-size);
  color: var(--text-color);
  margin-bottom: 8px;
}
.banner-text h1 {
  color: var(--font-color);
  text-transform: capitalize;
  font-size: 60px;
  margin-bottom: 20px;
}
.banner-text .search-field {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
}
.search-field input[type="search"] {
  width: 270px;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  outline: none;
}
.search-field input[type="submit"] {
  width: 80px;
  font-size: var(--primary-size);
  color: var(--primary-color);
  background: var(--font-color);
  border: 1px solid var(--text-color);
  border-radius: 0 5px 5px 0;
  margin-left: -10px;
  cursor: pointer;
}
.banner-showcase {
  flex-basis: 35%;
}
.banner-showcase img {
  width: 100%;
}

/*subject area css*/
.subjects-area {
  position: relative;
  top: 80px;
  padding: 60px 0;
}
.subject-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.subject {
  flex-basis: 20%;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 2px 2px 4px #d6d6d6, -2px -2px 4px #f2f2f2;
  transition: .5s all;
}
.subject:hover {
  transform: translateY(-10px);
}
.subject .img-box {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  padding: 25px;
}
.subject .img-box img {
  width: 100%;
}
.subject h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color);
  margin-bottom: 6px;
}
.subject p {
  text-align: center;
  text-transform: capitalize;
  color: var(--text-color);
  font-size: var(--primary-size);
}

/*features area css*/
.features-area {
  position: relative;
  top: 80px;
  padding: 80px 0;
}
.features-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.wrapper-one {
  margin-bottom: 115px;
}
.features-text {
  flex-basis: 40%;
}
.features-text h2 {
  text-transform: capitalize;
  color: var(--font-color);
  font-size: 40px;
  margin-bottom: 12px;
}
.features-text p {
  text-transform: capitalize;
  color: var(--text-color);
  font-size: var(--primary-size);
  line-height: 25px;
  margin-bottom: 20px;
}
.features-text button {
  text-transform: capitalize;
  font-size: var(--primary-size);
  color: var(--primary-color);
  border: 1px solid var(--font-color);
  padding: 12px 20px;
  background: var(--font-color);
  border-radius: 10px;
  cursor: pointer;
}
.features-app {
  flex-basis: 30%;
}
.features-app img {
  width: 100%;
}
